<div class="bg-yellow-600 text-white w-64 p-5 space-y-6 hidden lg:block">

  <h1 class="text-2xl font-bold">WatchHive</h1>

  <nav class="space-y-3">
    <a routerLink="/dashboard" class="block hover:bg-yellow-700 p-2 rounded">Dashboard</a>
    <a routerLink="/ruches" class="block hover:bg-yellow-700 p-2 rounded">Ruches</a>
    <a routerLink="/ruchers" class="block hover:bg-yellow-700 p-2 rounded">Ruchers</a>
    <a routerLink="/alert-settings" class="block hover:bg-yellow-700 p-2 rounded">Paramètres alertes</a>
    <a routerLink="/alert-history" class="block hover:bg-yellow-700 p-2 rounded">Historique alertes</a>
  </nav>

</div>
